.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 90%;
  margin: auto;
}

.App__nav {
  display: flex;
  gap: 20px;
  justify-content: center;
  padding: 15px;
  width: 100vw;
  background-color: grey;
  color: white;
}

a {
  font-size: 25px;
  font-weight: bold;
  color: white;

  text-decoration: none;
}
